// @import "enhanced_fonts"; // for when you need special font features 
@import "fonts";
@import "mq";
@import "palette";
@import "dcr_enhancer"; // default left column enhancer, works with inline, showcase and immersive weighting
// @import "full_immersive_enhancer"; // full-width enhancer, to be used with immersive weighting. Removes left colum, sets 100vw atom width at any breakpoint

.interactive-atom {
    margin: 0;
    padding: 0;
}
// uncomment to test
// .gv-wrapper {
//     height: 400px;
//     background: #121212;
//     color: white;
//     border-top: 1px solid #dcdcdc;
//     border-bottom: 1px solid #dcdcdc;
// }


/*----- App fixes -----*/
.ios, .android {
    .element--immersive {
        @include mq($until: tablet) {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw !important;
            margin-right: -50vw;
        }
        @include mq(tablet) {
            transform: translateX(-20px);
            width: calc(100% + 60px);
        }
    }
    
    //remove dark mode padding in apps
    figure.element.element-atom, figure.interactive.interactive-atom.interactive--loading {
        padding: 0 !important;
    }
}