@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
// @import "enhancer";
// gu_grid pulls the css for gs-container and content__main-column
// @import "gu_grid";

.interactive-atom {
    margin: 0;
    padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios, .android {
    .interactive-atom {
        padding: 8px;
    }
}