// @import "enhanced_fonts"; // for when you need special font features 
@import "fonts";
@import "mq";
@import "palette";
@import "dcr_enhancer"; //remove this line when using immersive weighting or the article template

/*----- DCR live Corrections -----*/
.element-immersive { //this fixes the incorrect dcr immersive margins and width
  width: 100vw !important;
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;

  @include mq(tablet) {
      transform: translateX(10px);
  }

  @include mq(leftCol) {
      transform: translateX(0);
  }
}
/* ------------------------- */

.interactive-atom {
    margin: 0;
    padding: 0;
}

.ios, .android {
    .element--immersive {
        width: 100vw !important;
        position: relative !important;
        left: 50% !important;
        right: 50% !important;
        margin-left: -50vw !important;
        margin-right: -50vw !important;
    }
    
    //remove dark mode padding in apps
    figure.element.element-atom, figure.interactive.interactive-atom.interactive--loading {
        padding: 0 !important;
    }
}